@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;800&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    height: 100vh;
}

.chat-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

.chats {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex-grow: 2;
    height: 70%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 10px;
    margin-bottom: 10px;
}

.notice {
    margin: 5px auto;
    padding: 0 10px;
    background-color: rgb(197, 197, 197);
    border-radius: 10px;
}

.notice p {
    margin: 10px 0;
    font-size: 15px;
    font-weight: bold;   
}

.chat {
    display: flex;
    margin: 5px 0;
    max-width: 200px;
    border: 1px solid black;
    border-radius: 10px;
    justify-content: left;
    flex-direction: column;
}

.chat-name {
    width: 100%;
    background-color: green;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.chat-name p {
    padding: 5px 10px;
    margin: 0;
    font-weight: bold;
    font-size: 15px;
    color: white;
}

.chat-message {
    margin: 0;
    padding: 2px 10px;
    font-size: 17px;
    word-wrap: break-word;
}

.own {
    margin-left: auto;
}

.foreign {
    margin-right: auto;
}

#form-message {
    height: 30%;
    flex: 1;
    display: flex;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    flex-direction: row;
    gap: 5px;
}

#message-field {
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    flex: 10;
}

#form-message button {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 15px;
    font-size: 20px;
    flex: 1;
}

#form-message button:hover {
    cursor: pointer;
}

.video-frame {
    position: relative;
    box-sizing: border-box;
    padding: 15px;
    background-color: black;
    height: 100%;
    flex-grow: 1;
}

.video {
    border: 1px solid white;
    position: relative;
}

#video-div-foreign {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
    background: #28282B;
}

#video-div-foreign video {
}

#video-div-own {
    box-sizing: border-box;
    position: absolute;
    z-index: 10;
    bottom: 0;
    right: 0;
    background: #28282B;
    border-radius: 10px;
    overflow: hidden;
    width: 30%;
    height: auto;
    border: 2px solid white;
    margin-right: 20px;
    margin-bottom: 20px;
}

#video-div-own video {
}

.video video {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video p {
    position: absolute;
    color: white;
    font-weight: 800;
    bottom: 0;
    left: 0;
    margin-left: 10px;
}

.buttons-container {
    position: absolute;
    /* display: flex; */
    display: none;
    bottom: 20px;
    background: white;
    padding: 10px;
    gap: 10px;
    border-radius: 20px;
    opacity: 1;
}


.btn button{
    background: white;
    border: 1px solid gray;
    border-radius: 50%;
    padding: 10px;
    width: 70px;
    height: 70px;
}

.leave-div button {
    background: red;
    border: 1px solid red;
}

.btn button img {
    margin-top: 5px;
    width: 30px;
    height: 30px;
}
